<body>
  <section class="container-intro">
    <section class="intro">
      <h1>
        We Design and build better <span style="color: #4263eb">chairs</span>,
        for a better <span style="color: #4263eb">life</span>
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla
        natus nostrum cum amet tempora aperiam, autem nemo velit? Magni fugiat
        sit omnis numquam totam odio asperiores modi molestiae. Soluta! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla natus
        nostrum cum amet tempora aperiam, autem nemo velit? Magni fugiat sit
        omnis numquam totam odio asperiores modi molestiae. Soluta!
      </p>
      <a href="">Shop chairs</a>
    </section>

    <section class="container-img-intro">
      <img [src]="img1" style="width: 400px; height: 400px" alt="" />
    </section>
  </section>

  <section class="container-details">
    <h2>What make our chair special</h2>
    <div class="details">
      <div class="details-one">
        <h3>bla bla bla</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
          aperiam provident. Cumque ex adipisci maiores placeat obcaecati beatae
          eaque quam delectus corrupti neque, explicabo accusantium totam
          voluptatibus fugiat, aspernatur eius.
        </p>

        <div class="svg-div">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0"
            />
          </svg>
        </div>
      </div>
      <div class="details-two">
        <h3>la la la</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          veritatis delectus incidunt corrupti fuga quod animi doloribus alias
          earum sit sint ipsa, ipsam perferendis nisi obcaecati in voluptatum
          accusantium ut?
        </p>
        <div class="svg-div">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
            />
          </svg>
        </div>
      </div>
      <div class="details-three">
        <h3>za za za</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sint
          quod, minus praesentium quaerat illum, voluptates minima est
          distinctio ipsa ratione facere, animi nisi expedita aspernatur qui
          explicabo. Mollitia, praesentium.
        </p>
        <div class="svg-div">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6"
            />
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section class="container-comments">
    <img style="height: 200px; width: 200px" [src]="img2" alt="" />

    <div class="comments">
      <strong
        ><em><h3>"We couldn't live without these chairs"</h3></em>
      </strong>
      <p>
        <em
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptatibus perspiciatis eos animi facilis aliquam vero natus. Dolore
          repellat laudantium repudiandae. Impedit ut a ratione saepe. Dolore
          quo eligendi modi a.</em
        >
      </p>
    </div>
  </section>
  <footer>
    <p>Copyright © 2024 Enzo Santos. Todos os direitos reservados.</p>
  </footer>
</body>
