<body>
  <section class="container-intro">
    <section class="intro">
      <h1>
        We Design and build better <span style="color: #4263eb">chairs</span>,
        for a better <span style="color: #4263eb">life</span>
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla
        natus nostrum cum amet tempora aperiam, autem nemo velit? Magni fugiat
        sit omnis numquam totam odio asperiores modi molestiae. Soluta! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla natus
        nostrum cum amet tempora aperiam, autem nemo velit? Magni fugiat sit
        omnis numquam totam odio asperiores modi molestiae. Soluta!
      </p>
      <a href="">Shop chairs</a>
    </section>

    <section class="container-img-intro">
      <img [src]="img1" style="width: 400px; height: 400px" alt="" />
    </section>
  </section>

  <section class="container-details">
    <h2>What make our chair special</h2>
    <div class="details">
      <div class="details-one">
        <h3>bla bla bla</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
          aperiam provident. Cumque ex adipisci maiores placeat obcaecati beatae
          eaque quam delectus corrupti neque, explicabo accusantium totam
          voluptatibus fugiat, aspernatur eius.
        </p>
      </div>
      <div class="details-two">
        <h3>la la la</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          veritatis delectus incidunt corrupti fuga quod animi doloribus alias
          earum sit sint ipsa, ipsam perferendis nisi obcaecati in voluptatum
          accusantium ut?
        </p>
      </div>
      <div class="details-three">
        <h3>za za za</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sint
          quod, minus praesentium quaerat illum, voluptates minima est
          distinctio ipsa ratione facere, animi nisi expedita aspernatur qui
          explicabo. Mollitia, praesentium.
        </p>
      </div>
    </div>
  </section>

  <section class="container-comments">
    <img style="height: 200px; width: 200px" [src]="img2" alt="" />

    <div class="comments">
      <strong
        ><em><h3>"We couldn't live without these chairs"</h3></em>
      </strong>
      <p>
        <em
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptatibus perspiciatis eos animi facilis aliquam vero natus. Dolore
          repellat laudantium repudiandae. Impedit ut a ratione saepe. Dolore
          quo eligendi modi a.</em
        >
      </p>
    </div>
  </section>
  <footer>
    <p>Copyright © 2024 Enzo Santos. Todos os direitos reservados.</p>
  </footer>
</body>
