<section>
  <section class="container-one">
    <div class="black"><h2>black</h2></div>
    <div class="green"><h2>green</h2></div>
    <div class="yellow"><h2>yellow</h2></div>
    <div class="purple"><h2>purple</h2></div>
    <div class="orange"><h2>orange</h2></div>
    <div class="red"><h2>red</h2></div>
    <div class="pink"><h2>pink</h2></div>
    <div class="blue"><h2>blue</h2></div>
  </section>

  <section class="container-two">
    <div class="black"><h2>black</h2></div>
    <div class="green"><h2>green</h2></div>
    <div class="yellow"><h2>yellow</h2></div>
    <div class="purple"><h2>purple</h2></div>
    <div class="orange"><h2>orange</h2></div>
    <div class="red"><h2>red</h2></div>
    <div class="pink"><h2>pink</h2></div>
    <div class="blue"><h2>blue</h2></div>
  </section>
</section>
