<body>
  <header>
    <h1 class="title">THIS IS MY ANGULAR PAGE</h1>
    <nav>
      <p>HOME</p>
      <p>CONFIGURAÇÃO</p>
      <p>MENU</p>
    </nav>
  </header>

  <section class="this-is-craque">
    <h2>This is Craque Neto</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum corrupti
      veniam tenetur libero officiis quam sequi blanditiis. Accusamus alias
      corporis exercitationem accusantium eaque delectus commodi quia unde id
      reprehenderit! Aspernatur? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolorum corrupti veniam tenetur libero officiis quam
      sequi blanditiis. Accusamus alias corporis exercitationem accusantium
      eaque delectus commodi quia unde id reprehenderit! Aspernatur? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Dolorum corrupti veniam
      tenetur libero officiis quam sequi blanditiis. Accusamus alias corporis
      exercitationem accusantium eaque delectus commodi quia unde id
      reprehenderit! Aspernatur?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum corrupti
      veniam tenetur libero officiis quam sequi blanditiis. Accusamus alias
      corporis exercitationem accusantium eaque delectus commodi quia unde id
      reprehenderit! Aspernatur?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum corrupti
      veniam tenetur libero officiis quam sequi blanditiis. Accusamus alias
      corporis exercitationem accusantium eaque delectus commodi quia unde id
      reprehenderit! Aspernatur? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolorum corrupti veniam tenetur libero officiis quam
      sequi blanditiis. Accusamus alias corporis exercitationem accusantium
      eaque delectus commodi quia unde id reprehenderit! Aspernatur?
    </p>
  </section>
</body>
