header {
  background-color: #706356;
}

header nav {
  display: flex;
  justify-content: center;
}
header p {
  margin: 10px;
  font-weight: bold;
}
header p:hover {
  background-color: orange;
  border-radius: 10px;
  padding: auto;
  cursor: pointer;
}

.title {
  text-align: center;
}
.this-is-craque {
  margin-top: 10px;
  margin-bottom: 20px;
}
.this-is-craque h2 {
  border-bottom: 3px solid black;
  display: inline;
}

.times {
  text-align: center;
  margin-top: 50px;
  border: 2px solid black;
  width: 500px;
  display: inline-block;
  position: relative;
  .lista-times {
    justify-content: center;
    margin-top: 10px;
  }
  .lista-times li {
    padding: 10px;
    font-weight: bold;
  }
}

.button-class {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  .btn {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid black;
  }
  .btn:hover {
    background-color: green;
    cursor: pointer;
  }
}

.craque-foto {
  display: inline-block;
  margin-left: 100px;
  border: 2px solid black;
  position: relative;
  .img {
    width: 500px;
    height: auto;
    padding-bottom: 50px;
  }
}
