<div class="all">
  <div class="main-section">
    <h1>CONVERSE CHUCK TAYLOR ALL STAR LOW TOP</h1>
    <section class="product">
      <section class="product-img">
        <img [src]="img1" style="width: 300px; height: 300px" alt="" />
      </section>
      <section class="price-info">
        <h2>$65.00</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
          voluptatum numquam asperiores nihil, molestias laborum unde nemo
          dolorum commodi illum ea placeat cupiditate.
        </p>
        <a href=""> More Information</a>
        <div class="colors-div">
          <div class="color" style="background-color: red"></div>
          <div class="color" style="background-color: blue"></div>
          <div class="color" style="background-color: green"></div>
          <div class="color" style="background-color: yellow"></div>
          <div class="color" style="background-color: purple"></div>
          <div class="color" style="background-color: black"></div>
        </div>
      </section>
      <section class="product-detail">
        <h2>PRODUCT DETAIL</h2>
        <ul>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </section>
    </section>
    <div class="btn-div">ADD TO CART</div>
  </div>
</div>

<div class="sale-div">
  <h2>SALE</h2>
</div>
