<body>
  <header>
    <h1>
      <a class="title" href="http://" target="_blank" rel="noopener noreferrer"
        >Craque Neto</a
      >
    </h1>

    <nav>
      <ul class="lista">
        <li>home</li>
        <li>login</li>
        <li>times</li>
      </ul>
    </nav>
  </header>

  <section class="historia">
    <h2><em>Historia</em></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tempore
      natus iste qui magni, architecto labore,
      <strong>mollitia voluptatibus numquam</strong> molestias commodi nesciunt
      sapiente ratione pariatur, animi praesentium corrupti error suscipit!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tempore
      natus iste qui magni, architecto labore, mollitia voluptatibus numquam
      molestias commodi nesciunt sapiente ratione pariatur, animi praesentium
      corrupti error suscipit! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quidem tempore natus iste qui magni, architecto labore,
      mollitia voluptatibus numquam molestias commodi nesciunt sapiente ratione
      pariatur, animi praesentium corrupti error suscipit!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tempore
      natus iste qui magni, architecto labore, mollitia voluptatibus numquam
      molestias commodi nesciunt sapiente ratione pariatur, animi praesentium
      corrupti error suscipit! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quidem nt sapiente ratione pariatur, animi praesentium
      corrupti error suscipit!
    </p>
  </section>

  <section class="times">
    <h2><em>Times</em></h2>
    <ul class="lista">
      <li><strong>corinthians</strong></li>
      <li><strong>corinthians</strong></li>
      <li><strong>corinthians</strong></li>
      <li><strong>corinthians</strong></li>
    </ul>
  </section>

  <section class="fotos">
    <h2>Fotos</h2>
    <img [src]="img1" alt="craque neto feliz" class="imagem-centralizada" />
    <img
      [src]="img2"
      alt="craque neto comemorando gol"
      class="imagem-centralizada"
    />
    <img
      [src]="img3"
      alt="craque neto reclamando"
      class="imagem-centralizada"
    />
  </section>

  <section class="pao">
    <h2>PÃO</h2>
    <a
      href="https://youtu.be/av-scRPkdKM?t=140"
      target="_blank"
      rel="noopener noreferrer"
      ><button>PÃO</button></a
    >
  </section>

  <footer>
    <h2>Redes Sociais</h2>
    <nav>
      <ul>
        <li>Instagram</li>
        <li>X</li>
        <li>LinkedIn</li>
      </ul>
    </nav>
  </footer>
</body>
